---
layout: default
title: Tags
permalink: /tags/
---
{% assign tagged_items = site.posts | concat: site.causal_inference %}
{% capture site_tags %}{% for item in tagged_items %}{% for tag in item.tags %}{{ tag }},{% endfor %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | uniq | sort %}

{% for this_word in tag_words %}
{% assign tagged_notes = tagged_items | where_exp: 'item', 'item.tags contains this_word' %}

<div class="tags is-hidden" id="{{ this_word | downcase | url_decode }}">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="archive-box">
          <span class="archive-meta">{{ tagged_notes.size }} {% if tagged_notes.size < 2 %}post {% else %}posts{% endif %} tagged</span>
          <h1 class="archive-title">{{ this_word }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container animate">
    <div class="row">
      {% for post in tagged_notes %}
        {% if post.title != null %}
         {% include article-content.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>

{% endfor %}

<script>
  var tag_name = decodeURIComponent(window.location.search.split('=')[1]);
  if (tag_name) {
    var el = document.getElementById(tag_name);
    if (el) {
      el.classList.remove("is-hidden");
    }
  }
</script>